input {
  color: #c7301f;
/*  font: 14pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;*/
}
input.biginput {
  padding: 10px;
  font-size: 18pt;
  width: 250px;
}
button {
  background-color: #fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-indent:0;
  font: 14pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:40px;
  width:270px;
  margin-bottom: 10px;
	text-align:center;
  vertical-align: middle;
}
#untagged_posts_button {
	border: 3px solid #c7301f;
	color: #c7301f;
}
#untagged_posts_button:hover {
  border: 3px solid #c7301f;
  color: #c7301f;
  position: relative;
  top: -1px;
}
#untagged_posts_button:active {input {
  color: #c7301f;
  font: 14pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;
}
input.biginput {
  padding: 10px;
  font-size: 18pt;
}
button {
  background-color: #fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-indent:0;
  font: 14pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:40px;
  width:270px;
  margin-bottom: 10px;
	text-align:center;
  vertical-align: middle;
}
#untagged_posts_button {
	border: 3px solid #c7301f;
	color: #c7301f;
}
#untagged_posts_button:hover {
  border: 3px solid #c7301f;
  color: #c7301f;
  position: relative;
  top: -1px;
}
#untagged_posts_button:active {
	position:relative;
	top:3px;
}
input:focus {
  outline-color: #c7301f;
}
@media screen and (min-width: 1024px) {
  button {
    font: 16pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;
  	font-weight:bold;
  	font-style:normal;
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  h1#top_heading a {
    line-height: 1.4em; }
  h1#top_heading,
  h1#top_heading a { padding-top: 0px !important;}
}

@media screen and (min-width: 500px) and (min-height: 500px) {
/*  button {
    font-size: 18pt;
    width: 350px;
    height: 70px;
  }*/
/*  input.biginput {
    width: 350px !important;
  }*/
}
	position:relative;
	top:3px;
}
input:focus {
  outline-color: #c7301f;
}
@media screen and (min-width: 1024px) {
    button {
        font: 16pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana;
    	font-weight:bold;
    	font-style:normal;
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
  h1#top_heading a {
    line-height: 1.4em; }
  h1#top_heading,
  h1#top_heading a { padding-top: 0px !important;}
/*  div#mobile_header { display: inline; }*/
/*  div#my_header_info { display: none; }*/
}

@media screen and (max-height: 500px) {
/*  h1#top_heading { padding-top: 5px; font-size: 0.9em; }*/
/*  div#mobile_header { display: inline; }*/
/*  div#my_header_info { display: none; }*/
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  button {
    font-size: 18pt;
    width: 320px;
    height: 70px;
  }
  input.biginput {
    width: 320px !important;
  }
}