<footer>
  <div id="footer_inner">
    <p>
      Copyright &copy; 2014&ndash;{{ site.time | date: "%y" }} <a href="https://alexwlchan.net/">Alex Chan</a>.
      Not affiliated with nor endorsed by Tumblr.
    </p>

    <p id="contact_links">
      Get in touch:&nbsp;
      <ul class="dot_list">
        <li><a id="footer__email" href="{{ site.email | encode_mailto }}">email</a></li>
        <li><a id="footer__github" href="{{ site.github_repo }}">github</a></li>
        <li><a id="footer__twitter" href="https://twitter.com/{{ site.twitter }}">twitter</a></li>
      </ul>
    </p>
  </div>
</footer>
