<footer>
  <div id="footer_inner">
    <p>
      Copyright &copy; 2014&ndash;{{ site.time | date: "%y" }} <a href="https://alexwlchan.net/">Alex Chan</a>.
      Not affiliated with nor endorsed by Tumblr.
    </p>

    <p id="contact_links">
      Get in touch:
			<a id="footer__email" href="alex@alexwlchan.net">email</a> ·
			<a id="footer__github" href="https://github.com/alexwlchan/finduntaggedtumblrposts.com/github/">github</a> ·
			<a id="footer__twitter" href="https://twitter.com/alexwlchan">twitter</a>
    </p>
  </div>
</footer>
