<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Find Untagged Tumblr Posts</title>
  <meta name="description" content="Find untagged posts from your Tumblr site">

  <link rel="canonical" href="https://finduntaggedtumblrposts.com/">

  <link rel="stylesheet" href="/theme/style.css">

  <link rel="shortcut icon" type="image/png" href="/theme/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/favicon.ico">
  <link rel="apple-touch-icon" href="/theme/apple-touch-icon.png">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/javascript/untagged.js"></script>
</head>
