<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title and page.title != site.title %}{{ page.title | strip_html | smartify }} &ndash; {% endif %}{{ site.title | smartify }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/atom.xml">

  <link rel="stylesheet" href="/theme/style.css?{{ site.time | date:'%Y%m%d%U%H%N%S' }}">
  <link rel="shortcut icon" type="image/png" href="/theme/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/favicon.ico">

  <link rel="apple-touch-icon" href="/theme/apple-touch-icon.png">

  <script type="text/javascript" src="/javascript/untagged.js"></script>
</head>
