---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
		<aside>
		  <div id="aside_inner">
		    <h1><a href="/">{{ site.title | escape }}</a></h1>
		  </div>
		</aside>

		<article>
		  {{ content | smartify | safe }}
		</article>

		<footer>
	    <p>
	      Copyright &copy; 2014&ndash;{{ site.time | date: "%y" }} <a href="https://alexwlchan.net/">Alex Chan</a>.
	      Not affiliated with nor endorsed by Tumblr.
	    </p>

	    <p>
	      Get in touch:
				<a id="footer__email" href="mailto:alex@alexwlchan.net">email</a> ·
				<a id="footer__github" href="https://github.com/alexwlchan/finduntaggedtumblrposts.com/github/">github</a> ·
				<a id="footer__twitter" href="https://twitter.com/alexwlchan">twitter</a>
	    </p>
		</footer>
  </body>

</html>
