aside {
  background: url('/theme/specktre.png') $primary-color;
  background-size: auto 100%;
  @media print {
    background: none;
    border-bottom: 2px solid $primary-color;
  }

  #aside_inner {
    @include central_element();

    &, a, a:visited {
      color: white;
      @media print {
        color: $primary-color;
      }
    }

    a:hover {
      text-decoration: none;
    }

    #brand {
      font-weight: normal;
      font-size: 1.7em;
      a {
        text-decoration: none;
      }
    }
  }
}
