/// This file contains basic styles for body text on the site.
///
/// It applies across both pages and posts.  This file should not contain
/// styles about page layout or positioning.

body {
  font: 12pt $main-font-family;
  line-height: $line-height;
  color: $body-color;
	hanging-punctuation: first;
}

a {
	@include link_styles($primary-color, 0.2);

  &:visited {
    @include link_styles($primary-dark, 0.2);
  }
}

h1 {
  color: $primary-color;
}

.title {
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.45em;
  a {
    text-decoration: none;
  }
  a:visited {
    color: $primary-color;
  }
  margin-bottom: -10px;
}
