/// This file contains basic styles for body text on the site.
///
/// It applies across both pages and posts.  This file should not contain
/// styles about page layout or positioning.

body {
  font: 12pt $main-font-family;
  line-height: $line-height;
  color: $body-color;
	hanging-punctuation: first;
}

a {
  color: $primary-color;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $primary-dark;
  }
}

h1 {
  color: $primary-color;
}

.title {
  font-size: 1.9em;
  font-weight: normal;
  line-height: 1.45em;
  a {
    text-decoration: none;
  }
  a:visited {
    color: $primary-color;
  }
  margin-bottom: -10px;
}
