This is a page about stuff


<h3>Elsewhere on the web</h3>

<ul>
    <li>I’m on Tumblr. Shocking, I know. Look for <a href="http://alexwlchan.tumblr.com">alexwlchan</a>, although don’t expect much in the way of posts – I’m more of a lurker.</li>
    <li>I tweet at <a href="http://twitter.com/alexwlchan">@alexwlchan</a>, although there’s no specific topic or theme.</li>
    <li>My main blog is <a href="http://alexwlchan.net">alexwlchan.net</a>, where I mostly write about technical topics that have caught my eye. No regular posting schedule.</li>
</ul>