<html>
  <head>
    <title>Find Untagged Tumblr Posts</title>
    <style>
        .progress {
            width: 100%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h1>Find Untagged Tumblr Posts</h1>

    <p>Enter your Tumblr URL:</p>
    <input id="hostname" type="text" placeholder="hostname"></input>

    <button id="start-bg-job">Get my untagged posts!</button><br><br>
    <div id="progress"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      function start_long_task() {
        hostname = $('#hostname')[0].value;
        if (hostname == "") {
          alert('You must enter a hostname');
          return;
        }

        div = $('<p class="status"></p><ul id="untagged"></ul>');
        $('#progress').append(div);

        $.ajax({
          type: 'POST',
          url: '/longtask?hostname=' + hostname,
          success: function(data, status, request) {
            status_url = request.getResponseHeader('Location');
            update_progress(status_url, div[0], div[1]);
          },
          error: function() {
            alert('Unexpected error');
          }
        });
      }

      function update_progress(status_url, status_div, untagged_ul) {
        $.getJSON(status_url, function(data) {
          console.log(data);
          if (data['state'] == 'PENDING') {
            $(status_div).text('Pending...')
          } else if (data['state'] == 'PROGRESS') {
            console.log(data);
            $(status_div).text('In progress, checked ' + data['current'] + ' of ' + data['total'] + ':');
          } else if (data['state'] == 'SUCCESS') {
            $(status_div).text('Complete: found ' + data['posts'].length + ' untagged posts among ' + data['total'] + ' total.');
          } else if (data['state'] == 'FAILURE') {
            $(status_div).text('Something went wrong');
          }

          if (data['state'] == 'PROGRESS' || data['state'] == 'SUCCESS') {
            current = $('#untagged').find('li').length;
            for (i = current; i < data['posts'].length; i++) {
              post = data['posts'][i]
              li = $('<li class="post__' + post[1] + '"><a href=' + post[0] + '>' + post[0] + '</a></li>');
              $('#untagged').append(li);
            }
            console.log(current);
          }

          if (data['state'] != 'FAILURE' && data['state'] != 'SUCCESS') {
            // rerun in 2 seconds
            setTimeout(function() {
              update_progress(status_url, status_div, untagged_ul);
            }, 2000);
          }
        })
      }
      $(function() {
        $('#start-bg-job').click(start_long_task);
      });
    </script>
  </body>
</html>
