<h1>Privacy policy</h1>

<h2>Google Analytics</h2>

<p>
  I use <a href="http://www.google.com/analytics/">Google Analytics</a> to record information about visitors to the site (you).  It installs a cookie to record basic tracking data.  This data includes:
</p>

<ul>
  <li>How you arrived at my site</li>
  <li>How long you stay for</li>
  <li>What pages you're looking at</li>
  <li>And quite a bit more.</li>
</ul>

<p>
  I only record the data for personal interest.  I don&rdquo;t sell it or give it to third parties.
</p>

<p>
  You can read <a href="http://www.google.com/policies/privacy/partners/"><em>How Google uses data when you use our partners’ sites or apps</em></a> for Google's policies about the use of Google Analytics data.  Long term, I&rdquo;d like to move away from Google Analytics to a self-hosted solution, so that I&rdquo;d be the only person who sees this data &ndash; but I haven't got around to that yet.
</p>

<p>
  If you’re uncomfortable with this tracking, Google provides a <a href="https://tools.google.com/dlpage/gaoptout?hl=en">browser plugin to opt-out of all Google Analytics tracking</a>.  If you install that, then I don't receive any data about your browsing session.  This will not impair your ability to use the site.
</p>

<h2>Tumblr URLs</h2>

<p>
  Until August 2015, it was impossible for me to see
</p>